python-docx==1.1.2       
typing-extensions==4.12.2
gitpython==3.1.37
markdown==3.4.1
docstring-to-markdown==0.11
docutils==0.18.1
docx==0.2.4
fpdf==1.7.2
#numpy==1.26.4
pip==24.0
samplics==0.4.22
streamlit==1.39.0
streamlit-aggrid==1.0.5
streamlit-option-menu==0.3.13
sympy==1.12
XlsxWriter==3.2.0




